<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HBNB</title>
</head>

<body>
  {% if not "/state/<id>" %}
    <H1>States</H1>
    <UL>
      {% for state in states.values()|sort(attribute="name") %}
      <LI> {{ state.id }}: <B>{{ state.name }}</B></LI>
      {% endfor %}
    </UL>
    {% else %}
    <H1>State:</H1>
    <UL>
      {% for state in states.values()|sort(attribute="name") %}
      <LI>{{ state.id }}: <B>{{ state.name }}</B>
        <UL>
          <H3>Cities:</H3>
          {% for city in cities.values()|sort(attribute="name") %}
          {% if city.state_id == state.id %}
          <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
          {% endif %}
          {% endfor %}
        </UL>
      </LI>
      {% endfor %}
    </UL>
</body>

</html>